<p-breadcrumb
  class="max-w-full"
  [model]="items"
  [home]="home"
  (onItemClick)="handleItemClick($event)"></p-breadcrumb>

<div class="card mt-3 relative">
  <div class="flex mb-5 align-items-center justify-content-between">
    <div class="text-xl text-900 text-center md:text-left font-semibold">
      {{ $any(post?.title) }}
    </div>
    <p-button
      *ngIf="post?.translate_content"
      [styleClass]="isEn ? 'p-button-success' : ''"
      [label]="isEn ? '翻译' : '英'"
      icon="pi pi-language"
      (onClick)="translate()"></p-button>
  </div>
  <div class="sticky mb-3" id="player"></div>
  <div [innerHTML]="(isEn ? post?.content : post?.translate_content) | safeHtml"></div>
</div>
