<p-breadcrumb
  class="max-w-full"
  [model]="items"
  [home]="home"
  (onItemClick)="handleItemClick($event)"></p-breadcrumb>

<ng-container *ngIf="post?.video_link">
  <vg-player (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video
      [vgMedia]="$any(media)"
      #media
      id="singleVideo"
      [poster]="post.poster_link"
      preload="auto"
      crossorigin>
      <source [src]="post.video_link" type="video/mp4" />
    </video>
  </vg-player>
</ng-container>
